.text-reveal {
    color: transparent;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 1.5s;
    opacity: 0;
    will-change: transform, opacity;
    transform: translateZ(0);
}

.text-reveal.reveal {
    color: #fff;
    animation: revealTextAnimation 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    opacity: 1;
}

.text-reveal:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.text-reveal.reveal:before {
    background: #ca8a04;
    animation: blockRevealAnimation 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes blockRevealAnimation {
    0% {
        left: -100%;
        transform: translateZ(0);
    }
    45% {
        left: 0;
        transform: translateZ(0);
    }
    75% {
        left: 0;
        transform: translateZ(0);
    }
    100% {
        left: 100%;
        transform: translateZ(0);
    }
}

@keyframes revealTextAnimation {
    0% {
        color: transparent;
    }
    45% {
        color: transparent;
    }
    75% {
        color: inherit;
    }
}

.text-yellow-300.text-reveal.reveal {
    color: #fcd34d;
}


